@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-hidden h-full;
}

.stop-scrolling {
  @apply overflow-hidden;
}

#root {
  @apply pb-10;
}

* {
  transition: all 0.15s ease;
}

:root {
  --habit-color: #006edc;
}

.x-padding {
  @apply px-32;
}

.icon-btn {
  @apply hover:text-gray-300 transition-colors;
}

.theme-mode-btn {
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transition: all 0.15s ease;
  transform: scale(1.5);
}

.theme-mode-btn i {
  font-size: 1rem;
}

.theme-mode-checkbox {
  opacity: 0;
  position: absolute;
}

.theme-mode-checkbox:checked + .theme-mode-btn .ball {
  transform: translateX(24px);
}

.theme-mode-btn .ball {
  background-color: #4b5563;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: all 0.15s ease;
}

.confirm-btn {
  @apply text-xl uppercase px-8 py-2 hover:bg-slate-200 transition-colors;
}
